.burger {
  display: flex;
  align-items: center;
  position: relative;
  width: 50px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.burger__inner {
  width: 50px;
  height: 4px;
  background-color: #fff;
  transition: all .2s ease-in-out;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #fff;
    transition: all .2s ease-in-out;
  }
  &::before {
    transform: translateY(-10px);
  }
  &::after {
    transform: translateY(10px);
  }
}

.burger--open {
  width: 30px;
  height: 30px;
}

.burger--open .burger__inner {
  transform: translateX(-50px);
  background: transparent;
}
.burger--open .burger__inner::before {
  width: 31px;
  transform: rotate(-45deg) translate(35px, 35px);

}
.burger--open .burger__inner::after {
  width: 31px;
  transform: rotate(45deg) translate(35px, -35px);
}
