.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 280px;
  height: 55px;

  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #fff;

  border: 3px solid #fff;
  border-radius: 27.5px;
  background-color: transparent;
}
