.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__text {
  margin-right: 15px;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: #283645;
}

.copyright__link-icon {
  width: 27px;
  height: 34px;
}

.copyright__link:hover .copyright__icon,
.copyright__link:focus .copyright__icon {
  fill: #283645;
}

.copyright__link:active .copyright__icon {
  fill: #bec2c7;
}

@media (min-width: $tablet) {
    .copyright__text {
      margin-right: 15px;
    }

    .copyright__link {
      margin-top: 2px;
    }
}

@media (min-width: $desktop) {
  .copyright__text {
    font-size: 18px;
  }
}
