.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  background-image: url("../img/iphone-screen-mobile@1x.png"),
  url("../img/bg-triangle-white.svg");
  background-position: 50.5% 109%, 0 0;
  background-size: 157px 320px, 100%;
  background-repeat: no-repeat;
}

.features__item {
  margin-bottom: 35px;
  max-width: 430px;
  text-align: center;
}

.features__item:last-child {
  margin-bottom: 0;
}

.features__item-title {
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #000;
}

.features__item-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
}

@media (min-width: $tablet) {
  .features {
    background-image: url("../img/iphone-screen-3-tablet@1x.png"),
    url("../img/bg-triangle-white.svg");
    background-position: calc(50% - 175px) 8px, 0 0;
    background-size: 265px auto, 100%;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-screen-3-tablet@2x.png"),
    url("../img/bg-triangle-white.svg");
    }
  }

  .features__item {
    margin-left: 49.9%;;
    margin-bottom: 37px;
    text-align: left;
  }
}

@media (min-width: $desktop) {
  .features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 130px;
    background-image: none;
    background-color: transparent;
  }
  .features__item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-bottom: 0;
    padding-top: 275px;
    width: 300px;
    max-width: auto;
    text-align: center;
  }
  .features__item:last-child {
    margin-right: 0;
  }
  .features__item--1::before {
    content: '';
    position: absolute;
    top: -84px;
    left: 3px;

    width: 294px;
    height: 382px;
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
  }
  .features__item--2::before {
    content: '';
    position: absolute;
    top: -84px;
    left: 6px;

    width: 294px;
    height: 382px;
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
  }
  .features__item--3::before {
    content: '';
    position: absolute;
    top: -84px;
    left: 6px;

    width: 294px;
    height: 382px;
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
  }
  .features__item-title {
    margin-bottom: 26px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
  }
  .features__item-text {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    line-height: 30px;
  }
}
