.filter {
  background-color: #f2f2f2;
}

.filter__img {
  display: flex;
  margin-bottom: 42px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.filter__img-self {
  width: 280px;
  height: 374px;
}

.filter__controls {
  padding-bottom: 40px;
}

.filter__modes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 38px;
  width: 200px;
}


.filter__mode {
  display: flex;
  border: none;
}

.filter__mode:last-child {
  margin-right: 0;
}

.filter__icon {
  fill: #b5b9be;
}
.filter__icon:hover {
  fill: #8d949b;
}
.filter__icon--crop {
  width: 44px;
  height: 44px;
}

.filter__icon--fill {
  width: 48px;
  height: 43px;
}

.filter__icon--contrast {
  width: 32px;
  height: 32px;
}

.filter__icon--active {
  fill: #d22856;
}

.filter__range {
  display: none;
}

.filter__range--mobile {
  display: block;
  margin-bottom: 34px;
}

.filter__buttons {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #dddfe0;
}

.filter__btn {
  margin-bottom: 12px;
}

.filter__btn:last-child {
  margin-bottom: 0;
}

.filter__btn--submit {
  color: #d22856;
  border-color: #d22856;
}

.filter__btn--submit:hover,
.filter__btn--submit:focus {
  color: #fff;
  background-color: #d22856;
}
.filter__btn--submit:active {
  color: rgba(255, 255, 255, 0.3);
}
.filter__btn--cancel {
  color: rgba(40, 54, 69, 0.1);
  border-color: rgba(40, 54, 69, 0.1);
}
.filter__btn--cancel:hover,
.filter__btn--cancel:focus {
  color: rgba(40, 54, 69, 0.3);
  border-color: rgba(40, 54, 69, 0.3);
}

.filter__btn--cancel:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(40, 54, 69, 0.3);
}

@media (min-width: $tablet) {
  .filter {
    padding: 57px 20px 54px;
  }

  .filter__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }

  .filter__img {
    margin-right: 40px;
    margin-bottom: 0;
    padding: 0;
  }

  .filter__img-self {
    width: 300px;
    height: 400px;
  }

  .filter__controls {
    padding-bottom: 0;
    border-bottom: none;
  }

  .filter__modes {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 65px;
    padding: 0;
  }

  .filter__mode-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    margin-bottom: 16px;
    padding-top: 8px;
    padding-bottom: 25px;
    padding-left: 7px;
    padding-right: 5px;
    border-bottom: 1px solid #dddfe0;
  }

  .filter__mode-container:last-child {
    margin-bottom: 0;
  }

  .filter__mode {
    margin-right: 0;
    height: 22px;
  }

  .filter__mode--fill {
    padding-top: 3px;
  }

  .filter__mode--contrast {
    padding-top: 3px;
    padding-left: 5px;
  }

  .filter__icon {
    fill: #d22856;
  }
  .filter__icon:hover {
    fill: #d22856;
  }

  .filter__icon--crop {
    width: 22px;
    height: 22px;
  }

  .filter__icon--fill {
    width: 24px;
    height: 22px;
  }

  .filter__icon--contrast {
    width: 16px;
    height: 16px;
  }

  .filter__range {
    margin: 0;
    margin-top: 11px;
    width: 202px;
  }

  .filter__range--mobile {
    display: none;
  }

  .filter__range--crop .range__toggle {
    left: 146px;
  }

  .filter__range--fill .range__toggle {
    left: 25px;
  }

  .filter__range--contrast .range__toggle {
    left: 96px;
  }

  .filter__buttons {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 7px;
  }

  .filter__btn {
    margin-bottom: 24px;
    width: 260px;
  }

  .filter__btn:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop) {
  .filter {
    margin-bottom: 78px;
    padding: 0;
    background-color: transparent;
  }
  .filter__container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 130px;
    padding-right: 130px;
    width: 1200px;
  }
  .filter__body {
    padding-top: 57px;
    padding-bottom: 57px;
    padding-left: 80px;
    padding-right: 60px;
    background-color: #f2f2f2;
  }
  .filter__img {
    margin-right: 90px;
  }
  .filter__img-self {
  }
  .filter__controls {
    flex-grow: 1;
  }
  .filter__modes {
    margin-bottom: 148px;
  }
  .filter__mode-container {
    padding: 0;
    padding-bottom: 14px;
    padding-right: 30px;
    margin: 0;
    margin-bottom: 11px;
  }
  .filter__mode-container:last-child {
    padding-bottom: 18px;
  }
  .filter__mode {
    height: auto;
  }
  .filter__mode--crop {
    margin-top: -3px;
  }
  .filter__mode--contrast {
    padding-top: 7px
  }
  .filter__icon--crop {
    width: 44px;
    height: 44px;
  }
  .filter__icon--fill {
    width: 48px;
    height: 43px;
  }
  .filter__icon--contrast {
    width: 32px;
    height: 32px;
  }
  .filter__range {
    margin-top: 25px;
    width: 288px;
  }
  .filter__range--crop {
    margin-top: 18px;
  }
  .filter__range--crop .range__toggle {
    left: 71px;
  }
  .filter__range--fill .range__toggle {
    left: 247px;
  }
  .filter__range--contrast .range__toggle {
    left: 160px;
  }
  .filter__buttons {
    display: flex;
    flex-direction: row;
    padding-left: 0;
  }
  .filter__btn {
    margin-bottom: 0;
    margin-right: 44px;
    width: 183px;
  }
  .filter__btn:last-child {
    margin-right: 0;
  }
}

