.footer {
  display: flex;
  flex-direction: column;
  padding-top: 41px;
  padding-bottom: 39px;
}

.footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 39px;
}

.footer__logo-self--desktop {
  display: none;
}

.footer__social {
  margin-bottom: 39px;
}

.footer--index {
  display: none;
}

@media (min-width: $tablet) {
  .footer {
    background-color: #fff;
    padding-bottom: 37px;
  &--index {
    display: flex;
  }
  &__container {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__logo {
    margin-top: -5px;
    margin-right: 77px;
    margin-bottom: 0;
  }
  &__logo-self {
  }
  &__social {
    margin-right: 93px;
    margin-bottom: 0;
  }
  &__copyright {
  }
}

}

@media (min-width: $desktop) {
  .footer {
    padding-top: 25px;
    padding-bottom: 72px;
  }
  .footer--index {
    padding-top: 75px;
  }
  .footer__container {
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 130px;
  }
  .footer__logo-self--mobile {
    display: none;
  }
  .footer__logo-self--desktop {
    display: flex;
  }
  .footer__social {
    margin-right: 61px;
  }
  .footer__social--index {
    margin-right: 69px;
  }
}
