.footer {
  display: flex;
  flex-direction: column;
  padding-top: 41px;
  padding-bottom: 39px;
}

.footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 39px;
}

.footer__social {
  margin-bottom: 39px;
}
