.form-achievements {
  padding-top: 38px;
  background-color: #f2f2f2;
}

.form-achievements .form__section-name {
  margin-bottom: 40px;
}

.form-contacts {
  padding-top: 32px;
  padding-bottom: 23px;
}

.form-platforms {
  padding-top: 39px;
  background-color: #f2f2f2;
}

.form-platforms .form__section-name {
  margin-bottom: 36px;
}

.form-review {
  padding-top: 38px;
  margin-bottom: 30px ;
}

.form {}

.form__fieldset {
  display: flex;

  margin: 0;
  padding: 0 20px;

  border: none;
}

.form__section-name {
  padding: 0 20px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
}

.form__identity {
  margin-bottom: 24px;
}

.form__submit-container {
  display: flex;
  flex-direction: column;

  padding: 0 20px;
}

.form__submit {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 44px;
  width: 100%;
  height: 63px;

  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;

  border: none;
  background-color: #2aab6d;
  border-radius: 2px;
}

.form__small {
  padding-left: 48px;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: #283645;
  text-transform: uppercase;
}

.form__small-asterisk {
  color: #d22856;
}
