.gallery {

}

.gallery__title {
  padding-top: 96px;
  padding-bottom: 82px;
}

.gallery__subtitle {
  padding-top: 47px;
  padding-bottom: 49px;
}

.gallery__footer {
  padding-top: 26px;
  padding-bottom: 43px;
}
