
.header {
  position: relative;
}

.header__container {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__main {
  display: flex;
  justify-content: space-between;
  padding: 21px 20px;
  height: 66px;
  background-color: rgba(0, 0, 0, 0.3);
}


.header__logo-self--mobile {

}

.header__logo-self--tablet {
  display: none;
}

.header__logo-self--desktop {
  display: none;
}

.header__main-nav {
  display: none;
}

@media (min-width: $tablet) {
  .header__main {
    height: 110px;
  }

  .header__logo {
    padding-top: 7px;
  }

  .header__logo-self--mobile {
    display: none;
  }

  .header__logo-self--tablet {
    display: block;
    width: 147px;
    height: 40px;
  }

  .header__burger {
    margin-top: 24px;
  }
}
