.burger {
  width: 50px;
  height: 24px;

  background-image: url("../img/icons/icon-menu-burger.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.main-nav {
}

.main-nav__list {
  display: flex;
  flex-direction: column;
}

.main-nav__link {
  display: flex;
  justify-content: center;

  padding-top: 23px;
  padding-bottom: 23px;

  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #283645;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}

.header {
  position: relative;
}

.header__container {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__main {
  display: flex;
  justify-content: space-between;
  padding: 21px 20px;
  height: 66px;
  background-color: rgba(0, 0, 0, 0.3);
}

.header__main-nav {
  display: none;
}
