
.header {
  margin-bottom: -66px;
  position: relative;
  z-index: 10;
}

.header__container {
  top: 0;
  left: 0;
  width: 100%;
}

.header__main {
  position: relative;
  display: flex;
  padding: 21px 20px;
  height: 66px;
  background-color: rgba(0, 0, 0, 0.3);
}

.header__main--open {
  background-color: #283645;
  border-bottom: 1px solid #000000;
}

.header__burger {
  position: absolute;
  top: 21px;
  right: 20px;
}

.header__logo {
  position: absolute;
  top: 21px;
  left: 20px;
}

.header__logo-self:hover,
.header__logo-self:focus {
  fill: #d22856;
}

.header__logo-self:active {
  opacity: 0.3;
}

.header__logo-self--mobile {

}

.header__logo-self--tablet {
  display: none;
}

.header__logo-self--desktop {
  display: none;
}

.header__main-nav {
  display: none;
}

.header__main-nav--show {
  display: block;
}

@media (min-width: $tablet) {
  .header {
    margin-bottom: -110px;
  }
  .header__main {
    height: 110px;
  }

  .header__logo {
    padding-top: 7px;
  }

  .header__logo-self--mobile {
    display: none;
  }

  .header__logo-self--tablet {
    display: block;
    width: 147px;
    height: 40px;
  }

  .header__burger {
    margin-top: 24px;
  }
}

@media (min-width: $desktop) {
  .header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 130px;
    padding-right: 130px;
    max-width: 1200px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .header__main {
    display: flex;
    padding: 0;
    background-color: transparent;
  }
  .header__burger {
    display: none;
  }
  .header__logo {
    left: 0;
  }
  .header__logo-self--tablet {
    display: none;
  }
  .header__logo-self--desktop {
    display: block;
    fill: #fff;
  }
  .header__main-nav {
    margin-left: auto;
    display: flex;
  }
}
