.hook {
  padding-top: 40px;
  padding-bottom: 32px;
  background-color: #fff;
}

.hook__text {
  margin: 0;
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  color: #283645;
  text-align: center;
}

.hook__text:last-child {
  margin-bottom: 0;
}
