.main-form {
  margin-bottom: 22px;
}

.main-form__title {
  padding: 96px 20px 55px;
}

.main-form__subtitle {
  padding-top: 45px;
  padding-bottom: 34px;
  padding-left: 20px;
  padding-right: 20px;
}

.main-form__extra-hook {
  display: none;
}

@media (min-width: $tablet) {
  .main-form {
    margin-bottom: 49px;
  }

  .main-form__title {
    padding: 180px 20px 80px;
  }

  .main-form__subtitle {
    padding-top: 93px;
    padding-bottom: 71px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .main-form__extra-hook {
    display: block;
  }

  .main-form__form {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: $desktop) {
  .main-form__title {
    padding: 173px 200px 101px;
  }

  .main-form__subtitle {
    margin-left: auto;
    margin-right: auto;
    padding-left: 160px;
    padding-right: 160px;
    width: 1200px;
  }

  .main-form__extra-hook {
    display: inline;
  }

  .main-form__form {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-left: 130px;
    padding-right: 130px;
    width: 1200px;
  }
}
