.main-nav {
}

.main-nav__list {
  display: flex;
  flex-direction: column;
}

.main-nav__link {
  display: flex;
  justify-content: center;

  padding-top: 23px;
  padding-bottom: 23px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #283645;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}

@media (min-width: $desktop) {
  .main-nav__list {
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
  }
  .main-nav__item {
    margin-right: 79px;
  }
  .main-nav__item:last-child {
    margin-right: 0;
  }

  .main-nav__link {
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 400;
    text-transform: none;
    border: none;
    background-color: transparent;
  }
  .main-nav__link:hover,
  .main-nav__link:focus {
    color: #d22856;
  }
  .main-nav__link:active {
    color: rgba(255, 255, 255, 0.3);
  }
  .main-nav__link--active {
    margin-bottom: -10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
  }
  .main-nav__link--active:hover,
  .main-nav__link--active:focus {
    border-color: #d22856;
  }
  .main-nav__link--active:active {
    border-color: rgba(255, 255, 255, 0.3);
  }
}
