.modal {
  display: none;
  z-index: 100;

  width: 100vw;
  max-width: 460px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
}

.modal__message {
  padding-top: 41px;
  padding-bottom: 38px;

  padding-left: 20px;
  padding-right: 20px;
}
.modal__header {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
}
.modal__text {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.modal__btn {
  padding-left: 20px;
  padding-right: 20px;
}

.modal__btn-self {
  margin-left: auto;
  margin-right: auto;
  height: 63px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
  background-color: #2aab6d;
  text-transform: uppercase;
  border-radius: 2px;
  border: none;
}

.modal--failure {
  padding-bottom: 50px;
}

.modal--failure .modal__header {
  margin-bottom: 25px;
}

.modal--success .modal__header {
  margin-bottom: 25px;
}

.modal--success .modal__btn {
  padding-top: 48px;
  padding-bottom: 52px;
  background-color: #f2f2f2;
}

@media (min-width: $tablet) {
  .modal {
    border-radius: 5px;
    width: 460px;
  }
  .modal__message {
    padding-top: 35px;
    padding-left: 70px;
    padding-right: 70px;
  }
  .modal__header {
    font-size: 30px;
    line-height: 40px;
  }
  .modal__text {
    font-size: 18px;
  }
  .modal__btn {
    padding-left: 80px;
    padding-right: 80px;
  }
  .modal__btn-self {
    width: 300px;
  }
  .modal--success .modal__message {
    padding-bottom: 31px;
  }
  .modal--failure .modal__message {
    padding-bottom: 36px;

  }
  .modal--failure .modal__header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $desktop) {
  .modal--success {
    width: 780px;
    max-width: none;
  }
  .modal--success .modal__message {
    padding-top: 41px;
    padding-bottom: 36px;
  }
  .modal--success .modal__text {
    padding-left: 90px;
    padding-right: 90px;
  }
  .modal--success .modal__btn-self {
    width: 460px;
  }
}
