.packages {
  // overflow-x: hidden;

  display: flex;
  flex-direction: column;

  padding-top: 90px;
  padding-bottom: 48px;
  padding-left: 0;
  padding-right: 0;

  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: 0 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.packages__container {
}

.packages__slider {
  position: relative;
  overflow-x: hidden;
  display: flex;
  width: 100%;
  height: 281px;
  margin-bottom: 41px;
}

.packages__table {
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: $tablet) {
  .packages {
    padding-top: 88px;
    padding-bottom: 25px;
    &__controls {
      display: none;
    }
  }
}

@media (min-width: $desktop) {
  .packages {
    padding-top: 150px;
    padding-bottom: 54px;
  }
}
