.posts {
}

.posts__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.posts__img {
  position: relative;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}

.posts__item--daily .posts__img {
  margin-left: 0;
  margin-right: 0;
}

.posts__img-self {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.posts__item picture {
  width: 100%;
  display: flex;
  justify-content: center;
}

.posts__item--daily .posts__img-self {
  width: 100vw;
  height: auto;
}

.posts__pano-flag {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 12px 0;
  width: 140px;
  height: 36px;
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #d22856;

}

.posts__body {
  margin-left: 20px;
  margin-right: 20px;
  padding: 18px 18px 20px;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  background-color: #f2f2f2;
}

.posts__author {
  font-weight: 700;
}

.posts__user-activity {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.posts__comment {
  margin-bottom: 9px;
}

.posts__likes {
  position: relative;
  padding-left: 32px;
  font-size: 12px;
  color: #d22856;
  text-transform: uppercase;
}

.posts__likes::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;

  width: 13px;
  height: 12px;

  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: $tablet) {
  .posts {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .posts__item {
    width: 300px;
  }

  .posts__item--daily {
    margin-bottom: 50px;
    width: 100%;
  }

  .posts__img {
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }
  .posts__img-self {
    width: 300px;
    height: 300px;
  }

  .posts__item--daily .posts__img-self {
    display: flex;
    justify-content: center;
    min-width: 700px;
  }

  .posts__pano-flag {
    top: 57px;
  }

  .posts__body {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    padding: 23px 27px 23px;
    height: 155px;
  }

  .posts__item--daily .posts__body {
    padding-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
  }

  .posts__comment {
    margin-bottom: auto;
  }

  .posts__likes {
    padding-left: 0;
  }

  .posts__likes::before {
   left: auto;
   right: 5px
  }

  .posts__item--daily .posts__likes {
    position: absolute;
    top: 24px;
    left: auto;
    right: 27px;

    padding-right: 32px;
  }

  .posts__item--daily .posts__likes::before {
    top: 6px;
    left: auto;
    right: 2px;
  }

}
@media (min-width: $desktop) {
  .posts {
    padding-left: 130px;
    padding-right: 130px;
  }
  .posts__item {
    margin-bottom: 51px;
  }
  .posts__item--daily .posts__img {
    height: 506px;
  }
  .posts__img-self {
    width: 300px;
    height: 400px;
  }
  .posts__item--daily .posts__img-self {
    left: -130px;
    width: 1200px;
    height: 506px;
  }
  .posts__pano-flag {
    top: 54px;
  }
  .posts__item--daily .posts__body {
  }
}
