.price-table {

  border-spacing: 0;
  border-collapse: collapse;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}

.price-table__row {
  background-color: #fff;
}

.price-table__tdata {
  position: relative;

  // padding: 0 17px 0 21px;
  // height: 61px;
  width: 276px;

  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: #283645;

  text-transform: uppercase;
  border-bottom: 2px solid #e5e5e5;
}

.price-table__tdata--checked::before {
  content: '';
  position: absolute;
  top: 20px;
  right: 17px;

  width: 31px;
  height: 21px;

  background-image: url("../img/icon-yes.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.price-table__tdata--crossed::before {
  content: '';
  position: absolute;
  top: 15px;
  right: 19px;

  width: 27px;
  height: 26px;

  background-image: url("../img/icon-no.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.price-table__head {
  // padding-top: 17px;
  // height: 98px;

  color: #fff;
  text-transform: uppercase;

  background-color: #283645;
}

.price-table__head:first-child {
  visibility: hidden;
}

.price-table__name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.price-table__price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

@media (min-width: $tablet) {
  .price-table {
    height: 220px;
  }
}

@media (min-width: $desktop) {
  .price-table {
    height: 281px;
  }
}
