.promo {
  display: flex;
  flex-direction: column;

  padding-bottom: 29px;

  background-color: #1d2631;
}

.promo__background {
  height: 462px;
  width: 100%;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center 0;
  background-size: 700px auto;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.promo__body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 28px;
  max-width: 320px;
}

.promo__body::before {
  content: "";
  position: absolute;
  top: -286px;
  left: 0;
  width: 258px;
  height: 286px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-size: 258px auto;
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
  }
}

.promo__platforms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 205px;
  margin-bottom: 23px;
}

.promo__download-btn {
  margin-bottom: 32px;
}

.promo__download-btn:hover,
.promo__download-btn:focus {
  background-color: #ffffff;
  color: #d22856;
}

.promo__download-btn:active {
  background: #ffffff;
  color: rgba(210, 40, 86, 0.3);
}

.promo__small {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;

  text-align: center;
}

.promo__android {
  margin-top: 7px;
}

.promo__windows {
  margin-top: 13px;
}

.promo__hook {
  display: none;
}

@media (min-width: $tablet) {
  .promo {
    position: relative;
    padding-bottom: 0;
  }

  .promo__background {
    height: 729px;
    background-image: url("../img/iphone-hand-tablet@1x.png"),
      url("../img/bg-back-tablet@1x.jpg");
    background-position: calc(50% - 3px) 184px, center top;
    background-size: 700px auto, 1200px auto;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png"),
        url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .promo__body {
    position: absolute;
    top: 202px;
    left: calc(50% - 310px);

    padding: 0;
    width: 300px;
    height: 450px;
    background-color: transparent;
  }

  .promo__body::before {
    display: none;
  }

  .promo__hook {
    display: block;
    margin-bottom: 31px;
    padding: 0;
    padding-left: 40px;
    padding-right: 40px;
  }

  .promo__hook .hook__text {
    color: #ffffff;
  }

  .promo__download-btn {
    width: 300px;
    margin-bottom: 46px;
  }

  .promo__platforms {
    margin-bottom: 38px;
  }

  .promo__small {
    font-size: 18px;
  }
}

@media (min-width: $desktop) {
  .promo {
    height: 853px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center;
    background-size: 2560px auto;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .promo__container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }

  .promo__background {
    height: 853px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: 148px bottom;
    background-size: 1050px auto;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }
  }

  .promo__body {
    top: 218px;
    left: 130px;
    height: auto;
  }

  .promo__hook {
    margin-bottom: 52px;
  }

  .promo__download-btn {
    font-size: 21px;
    margin-bottom: 67px;
  }

  .promo__platforms {
    margin-bottom: 56px;
  }
}
