.range {
  position: relative;
  margin: 0 auto;
  width: 240px;
  height: 2px;
  background-color: #000;
}

.range__toggle {
  content: '';
  position: absolute;
  top: -6px;
  left: 193px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #d22856;
  background-color: #f2f2f2;
}
