.reviews {
  padding-top: 50px;
  padding-bottom: 40px;
}

.reviews__container {
  margin-left: auto;
  margin-right: auto;
}

.reviews__list {
  margin-bottom: 36px;
}

.reviews__item {
  display: none;
  text-align: center;
}

.reviews__item--current {
  display: flex;
  flex-direction: column;
}

.reviews__item-header {
  margin-bottom: 19px;

  font-size: 18px;
  line-height: 1;
  font-weight: 700;
}

.reviews__item-subheader {
  display: none;
}

.reviews__item-text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}


@media (min-width: $tablet) {
  .reviews {
    padding-top: 99px;
    padding-bottom: 20px;
    &__list {
    }
    &__item {
    }
    &__item-header {
      margin-bottom: 7px;
      font-size: 20px;
    }
    &__item-subheader {
      display: block;
      font-size: 14px;
      line-height: 30px;
      color: #283645;
    }
    &__item-text {
      order: -1;
      margin-bottom: 40px;
      font-size: 18px;
    }
  }
}
