.reviews {
  padding-top: 50px;
  padding-bottom: 40px;
}

.reviews__container {
  margin-left: auto;
  margin-right: auto;
}

.reviews__list {
  margin-bottom: 36px;
}

.reviews__item {
  display: none;
  text-align: center;
}

.reviews__item--current {
  display: flex;
  flex-direction: column;
}

.reviews__item-header {
  margin-bottom: 19px;

  font-size: 18px;
  line-height: 1;
  font-weight: 700;
}

.reviews__item-subheader {
  display: none;
}

.reviews__item-text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}
.reviews__arrows {
  display: none;
}

@media (min-width: $tablet) {
  .reviews {
    padding-top: 99px;
    padding-bottom: 20px;
    &__list {
    }
    &__item {
    }
    &__item-header {
      margin-bottom: 6px;
      font-size: 20px;
    }
    &__item-subheader {
      display: block;
      font-size: 14px;
      line-height: 30px;
      color: #283645;
    }
    &__item-text {
      order: -1;
      margin-bottom: 40px;
      font-size: 18px;
    }
  }
}

@media (min-width: $desktop) {
  .reviews {
    padding-top: 0;
    padding-bottom: 0;
  }
  .reviews__container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 186px;
    padding-bottom: 20px;
    padding-left: 255px;
    padding-right: 255px;
    width: 1200px;
  }
  .reviews__container::before {
    content: '';
    position: absolute;
    top: 70px;
    left: 564px;

    width: 79px;
    height: 63px;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
  }
  .reviews__list {
    margin-bottom: 0;
  }
  .reviews__item-header {
    font-size: 24px;
  }
  .reviews__item-subheader {
    font-size: 18px;
  }
  .reviews__item-text {
    margin-bottom: 39px;
  }
  .reviews__controls {
    display: none;
  }
  .reviews__arrows {
    display: inline-block;
  }
  .reviews__arrow {
    position: absolute;
    top: 219px;


    width: 29px;
    height: 29px;
    background-color: transparent;
    border: solid rgba(40, 54, 69, 0.3);
    border-width: 0 2px 2px 0;
  }
  .reviews__arrow:hover,
  .reviews__arrow:focus {
    border-color: rgba(40, 54, 69, 0.6);
  }
  .reviews__arrow:active {
    border-color: rgba(40, 54, 69, 0.1);;
  }
  .reviews__arrow--prev {
    left: 135px;
    transform: rotate(135deg);
  }
  .reviews__arrow--next {
    right: 135px;
    transform: rotate(-45deg);
  }

}
