.reviews {
  padding: 50px 20px 40px;
}

.reviews__list {
  margin-bottom: 36px;
}

.reviews__item-header {
  margin-bottom: 19px;

  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
}

.reviews__item-text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  text-align: center;
}
