.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social__item {
  margin-right: 12px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  position: relative;
  display: flex;
  width: 50px;
  height: 50px;
  border: 2px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
  background-color: #fff;
}

.social__link:hover,
.social__link:focus {
  border-color: rgba(40, 54, 69, 1);
}

.social__link:active {
  border-color: rgba(40, 54, 69, 0.1);
}
.social__link:active::before {
  opacity: 0.3;
}

.social__link--twitter::before {
  content: '';
  position: absolute;
  top: 16px;
  left: 14px;
  width: 18px;
  height: 14px;
  background-image: url("../img/icons/icon-twitter.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.social__link--facebook::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 18px;

  width: 9px;
  height: 18px;
  background-image: url("../img/icons/icon-facebook.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.social__link--youtube::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 17px;

  width: 15px;
  height: 13px;
  background-image: url("../img/icons/icon-youtube.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
