.text-item {
  display: flex;
  flex-direction: column;

  margin-bottom: 18px;
}

.text-item__label {
  padding-left: 22px;
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;
}

.text-item__label--textarea {
  padding-left: 0;
  margin-bottom: 10px;
  text-align: center;
}

.text-item__input {
  padding: 14.5px 20px 14.5px 18px;
  height: 63px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-family: inherit;
  color: #283645;

  border: 2px solid #e5e5e5;
  border-radius: 2px;
}

.text-item__input::placeholder {
  color: #283645;
  font-family: inherit;
}

.text-item__input--textarea {
  width: 280px;
  height: 201px;
  resize: none;
}

@media (min-width: $tablet) {
  .text-item {
    flex-direction: row;
    margin-bottom: 52px;
    &__label {
      margin-bottom: 0;
      margin-right: 19px;
      padding-top: 16.5px;
      padding-bottom: 16.5px;
      padding-left: 0;
    }
    &__input {
      flex-grow: 1;
    }
  }

}
