.title {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;

}

.title__self {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  color: #fff;
  text-align: center;
  font-weight: 300;
}

@media (min-width: $tablet) {
  .title {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: -271px 0;
  }
  .title__self {
    font-size: 50px;
  }
}
