// @import "normalize";

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  src: url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  src: url('../fonts/opensansbold.woff2') format('woff2'),
    url('../fonts/opensansbold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  src: url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.small-header {
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #000;
}

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header {
  position: relative;
}

.header__container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 21px 20px 0;
  width: 100%;
  height: 66px;
  background-color: rgba(0, 0, 0, 0.3);
}

.header__list {
  // display: flex;
  display: none;
  flex-direction: column;

  margin: 0;
  padding: 0;

  background-color: #283645;
}

.header__list-item {
}

.header__list-item--header {
  display: flex;
  justify-content: space-between;

  padding: 21px 20px 0;
  height: 70px;

  background-color: #283645;
  border-bottom: 1px solid #283544;
}

.header__item-link {
  display: flex;
  justify-content: center;

  padding: 24px 20px 0;
  height: 64px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;

  background-color: #283645;
  border-bottom: 1px solid #000;
  border-top: 1px solid #485461;
}

.header__list-logo {
  padding: 0;

  border-top: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.main-nav__body {
  display: none;
}

.main-nav__burger {
  border: none;
}

.burger {
  width: 50px;
  height: 24px;

  background-image: url("../img/icons/icon-menu-burger.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.promo {
  display: flex;
  flex-direction: column;

  padding: 462px 20px 29px;

  background-color: #1d2631;
  background-image: url("http://placehold.it/320x462");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 320px 462px;
}

.promo__container {
  padding-top: 28px;
}

.promo__download-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 32px;
  width: 280px;
  height: 55px;

  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #fff;

  border: 3px solid #fff;
  border-radius: 27.5px;
  background-color: transparent;
}

.platforms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 0 37px;
  margin: 0;
  margin-bottom: 23px;
}

.platforms__link {
  display: flex;
  width: 50px;
  height: 56px;

  background-color: #fff;
}

.promo__small {
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #fff;

  text-align: center;
}

.app-description {
  display: flex;
  flex-direction: column;
}

.hook {
  padding-top: 40px;
  padding-bottom: 32px;
  background-color: #fff;
}

.hook__text {
  margin: 0;
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  color: #283645;
  text-align: center;
}

.hook__text:last-child {
  margin-bottom: 0;
}

.features {
  padding: 84px 20px 317px;
  background-color: #f2f2f2;
  background-image: url("../img/iphone-screen-mobile@1x.png"),
  url("../img/bg-triangle-white.svg");
  background-position: 50.5% 109%, 0 0;
  background-size: 157px 320px, 100%;
  background-repeat: no-repeat;
}

.features__item {
  margin-bottom: 35px;
}

.features__item:last-child {
  margin-bottom: 0;
}

.features__item-title {
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.features__item-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
  text-align: center;
}

.reviews {
  padding: 50px 20px 40px;
}

.reviews__list {
  margin-bottom: 36px;
}

.reviews__item-header {
  margin-bottom: 19px;

  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
}

.reviews__item-text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls__toggle {
  margin-right: 19px;
  width: 6px;
  height: 6px;

  background-color: #bec2c7;
  border-radius: 50%;
}

.controls__toggle--current {
  margin-right: 16px;
  margin-bottom: 0;
  width: 11px;
  height: 11px;
  background-color: #fff;
  border: 3px solid #283645;
}

.controls__toggle:last-child,
.controls__toggle--current:last-child {
  margin-right: 0;
}

.packages {
  display: flex;
  flex-direction: column;

  padding-top: 87px;
  padding-bottom: 48px;

  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: 0 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.price-table {
  margin-left: 21px;
  margin-bottom: 44px;
  width: 276px;
  border-spacing: 0;
  border-collapse: collapse;
}


.price-table__thead {
}

.price-table__row {
}

.price-table__tdata {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0 17px 0 21px;
  height: 61px;

  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: #283645;

  text-transform: uppercase;
  border-bottom: 2px solid #e5e5e5;
}

.price-table__tdata--checked::before {
  content: '';
  position: absolute;
  top: 20px;
  right: 17px;

  width: 31px;
  height: 21px;

  background-image: url("../img/icon-yes.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.price-table__tdata--crossed::before {
  content: '';
  position: absolute;
  top: 15px;
  right: 19px;

  width: 27px;
  height: 26px;

  background-image: url("../img/icon-no.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.price-table__head {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 17px;
  height: 98px;

  color: #fff;
  text-transform: uppercase;

  background-color: #283645;
}

.price-table__name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.price-table__price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.contacts {
  position: relative;
}

.contacts__address {
  font-style: normal
}

.contacts__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__item-name {
  color: #283645;
}

.contacts__info {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  color: #d22856;
}

.contacts__info--address {
  text-align: center;
}

.contacts__map {
  position: relative;

  height: 219px;

  background-image: url("../img/content/map-mobile@1x.jpg");
  background-size: 100%;
  background-position: 0 100%;
}

.contacts__map::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url("../img/bg-triangle-white-footer.svg");
  background-position: 0 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.contacts__map::after {
  content: '';
  position: absolute;
  bottom: 70px;
  left: 50%;

  margin-left: -18px;
  width: 36px;
  height: 35px;

  background-image: url("../img/icon-map-marker.svg");
  background-position: 0 0;
  background-size: 100%;
  background-repeat: no-repeat;
}

.page-title {

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.page-title--form {
  padding: 96px 20px 55px;
  margin-bottom: 45px;
}

.page-title__title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  color: #fff;
  text-align: center;
  font-weight: 300;
}

.main-form {
}

.main-form__intro {
  margin-bottom: 35px;
  padding: 0 20px;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  text-align: center;
}



.text-item {
  display: flex;
  flex-direction: column;

  margin-bottom: 18px;
}

.text-item__label {
  padding-left: 22px;
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;
}

.text-item__label--textarea {
  padding-left: 0;
  margin-bottom: 10px;
  text-align: center;
}

.text-item__input {
  padding: 14.5px 20px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-family: inherit;
  color: #283645;

  border: 2px solid #e5e5e5;
  border-radius: 2px;
}

.text-item__input::placeholder {
  color: #283645;
  font-family: inherit;
}

.text-item__input--textarea {
  width: 280px;
  height: 201px;
  resize: none;
}

.checkbox-item {
  display: flex;
}

.checkbox-item__label {
  position: relative;
  display: flex;
  align-items: center;

  padding-left: 70px;
  margin-bottom: 43px;
  height: 39px;

  font-size: 18px;
  line-height: 1;
  text-transform: none;
  color: #283645;
}

.checkbox-item__label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 39px;
  height: 39px;

  background-color: #fff;
  border: 2px solid #e5e5e5;
}

.checkbox-item__input:checked + .checkbox-item__label::after {
  content: '';
  position: absolute;
  top: 11px;
  left: 9px;

  width: 22px;
  height: 16px;

  background-image: url("../img/icons/icon-tick-red.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.radio-item {
  display: flex;
}

.radio-item__label {
  position: relative;
  display: flex;
  align-items: center;

  padding-left: 70px;
  margin-bottom: 36px;
  height: 39px;

  font-size: 18px;
  line-height: 1;
  text-transform: none;
  color: #283645;
}

.radio-item__label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 39px;
  height: 39px;

  background-color: #fff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.radio-item__input:checked + .radio-item__label::after {
  content: '';
  position: absolute;
  top: 12px;
  left: 12px;

  width: 15px;
  height: 15px;

  background-color: #d22856;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}


.form {}

.form__fieldset {
  display: flex;

  margin: 0;
  padding: 0 20px;

  border: none;
}

.form__section-name {
  padding: 0 20px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #d22856;
  text-align: center;
  text-transform: uppercase;
}

.form__identity {
  margin-bottom: 24px;
}

.form-achievements {
  padding-top: 38px;
  background-color: #f2f2f2;
}

.form-achievements .form__section-name {
  margin-bottom: 40px;
}

.form-contacts {
  padding-top: 32px;
  padding-bottom: 23px;
}

.form-platforms {
  padding-top: 39px;
  background-color: #f2f2f2;
}

.form-platforms .form__section-name {
  margin-bottom: 36px;
}

.form-review {
  padding-top: 38px;
  margin-bottom: 30px ;
}

.form__submit-container {
  display: flex;
  flex-direction: column;

  padding: 0 20px;
}

.form__submit {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 42px;
  width: 100%;
  height: 63px;

  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;

  border: none;
  background-color: #2aab6d;
  border-radius: 2px;
}

.form__small {
  padding-left: 48px;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: #283645;
  text-transform: uppercase;
}

.form__small-asterisk {
  color: #d22856;
}

.footer {
  display: flex;
  flex-direction: column;
  padding-top: 58px;
  padding-bottom: 39px;
}

.footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 39px;
}

.footer__social {
  margin-bottom: 39px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social__item {
  margin-right: 12px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  position: relative;
  display: flex;
  width: 50px;
  height: 50px;
  border: 2px solid #e9ebec;
  border-radius: 50%;
  background-color: #fff;
}

.social__link--twitter::before {
  content: '';
  position: absolute;
  top: 16px;
  left: 14px;
  width: 18px;
  height: 14px;
  background-image: url("../img/icons/icon-twitter.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.social__link--facebook::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 18px;

  width: 9px;
  height: 18px;
  background-image: url("../img/icons/icon-facebook.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.social__link--youtube::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 17px;

  width: 15px;
  height: 13px;
  background-image: url("../img/icons/icon-youtube.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.footer__copyright {

}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__text {
  margin-right: 15px;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: #283645;
}

.copyright__link {
  width: 27px;
  height: 34px;
  background-image: url("../img/icons/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
